.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.origami{
    border-radius: 20px;
    background-color: rgb(251, 255, 0);
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: Baskeville Old Face;
}
h1 {
    color: rgb(0, 247, 255);
}
h2{
    color:blue ;
}
p{
    color: rgb(210, 30, 201);
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(1, 69, 255);
}
body{
    margin: 0px;
    background-color: rgb(253, 0, 0);
}
.footer{
    display: flex;
    justify-content: flex-end;
}